{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/toys/toy-index.css' %}" />
{% endblock %}
{% block content %}
  <section class="page-header">
    <h1>All Events Rooms</h1>
    <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
    <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
    <img src="{% static 'images/post.svg' %}" alt="A scratching post" />
    <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
  </section>

  <section class="card-container">
    {% for feature in feature_list %}
      <div class="card" style="border-color: {{ feature.color }}">
        <div class="card-bg" style="background-color: {{ feature.color }}"></div>
        <a href="{% url 'feature-detail' feature.id %}">
          <div class="card-content">
            <h2>{{ feature.title }}</h2>
            <p>{{ feature.description }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </section>
{% endblock %}
